.about_logo {
  float: left; 
  margin: 15px 10px 10px 10px;
  width: 50px;
  height: 50px;
}

.about_title {
  padding: 20px 0px 20px 0px;
}

.event_title {
  text-decoration: underline;
  cursor: pointer;
}

.event_subtitle {
  margin-top: 20px;
}
